{
  "singleQuote": true,
  "semi": true,
  "trailingComma": "es5",
  "useTabs": false,
  "printWidth": 120,
  "tabWidth": 2,
  "bracketSpacing": true,
  "arrowParens": "always",
  "proseWrap": "preserve",
  "htmlWhitespaceSensitivity": "strict",
  "endOfLine": "auto",
  "jsxBracketSameLine": false
}
